<h1>Running scripts:</h1>
<ol>
  <li><code>npm run build:rollup</code></li>
  <li><code>npm start</code></li>
</ol>
<ol>
  <li><code>npm run build:rollup</code></li>
  <li><code>npm test</code></li>
</ol>
<ol>
  <li><code>npm run build:rollup</code></li>
  <li><code>npm build</code></li>
</ol>

<h2>Charts</h2>
<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  style="width: 100%; height: 400px; display: block"
></highcharts-chart>

<h2>Books</h2>
<app-book-list
  class="book-list"
  [books]="(books$ | async)!"
  (add)="onAdd($event)"
></app-book-list>

<h2>My Collection</h2>
<app-book-collection
  class="book-collection"
  [books]="($any(bookCollection$) | async)!"
  (remove)="onRemove($event)"
>
</app-book-collection>
